<center>
    <h1>Register Your Account</h1>
    <form method="post" action="">
        {% csrf_token %}
       {% if error %} <p style="color: red">This Username Already Exist</p>{% endif %}

        Name: <input type="text" name="name" placeholder="Your Name" /> <br><br>

        {% if not error %}Username: <input type="text" name="un" placeholder="Your Username" /> <br><br>
        {% else %}Username: <input style="border-color: red;" type="text" name="un" placeholder="Your Username" /> <br><br>
        {% endif %}
        Email: <input type="email" name="email" placeholder="Your Email" /> <br><br>
    {{ st }}
       Password: <input type="password" name="ps" placeholder="Password" /> <br><br>
        <input type="submit" value="Register">
    </form>
    <br>
    <a href="{% url 'Login' %}">Login</a>
</center>