{% extends "movie/base.html" %}
{% load static %}
{% block body %}
<center>
    <h1>Add movie starcast</h1><br>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        movie:<div class="acc"> {{ form.movie }} </div><br><br><br>
        name:{{ form.name }}<br><br>
        role_as:{{ form.role_as }}<br><br>
        <div class="acc2">photo:</div><div class="acc1"> {{ form.photo }}</div><br>

       <!--Album Name: <input type="text" name="title" placeholder="Album Name" /> <br><br>
       Album Artist: <input type="text" name="artist" placeholder="Album Artist" /> <br><br>
       Album Poster: <input type="file" name="img1" placeholder="Album Poster" /> <br><br>
       Album Company: <input type="text" name="company" placeholder="Company" /> <br><br> -->
        <input type="submit" value="Add">
    </form>
</center>
{% endblock %}