{% extends "movie/base.html" %}
{% load static %}
{% block body %}
<center>
    <h1>Add New Album</h1><br>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        album category:<div class="acc"> {{ form.cat }} </div><br><br><br>
        album duration:{{ form.duration }}<br><br>
        album director:{{ form.director }}<br><br>
        album producer:{{ form.producer }}<br><br>
        <div class="acc2">album img1:</div><div class="acc1"> {{ form.img1 }}</div><br>
        <div class="acc2">album img2:</div><div class="acc1"> {{ form.img2 }}</div><br>
        <div class="acc2">album img3:</div><div class="acc1"> {{ form.img3 }}</div>
        <div class="a4">album description:{{ form.description }}</div><br>
        <div class="a5">album rating:{{ form.rating }}</div><br>
        <div class="a5">album title:{{ form.title }}</div><br>
        <div class="a5">trailer:{{ form.trailer }}</div><br>
        <div class="a5">release date:{{ form.release_date }}</div><br>
       <!--Album Name: <input type="text" name="title" placeholder="Album Name" /> <br><br>
       Album Artist: <input type="text" name="artist" placeholder="Album Artist" /> <br><br>
       Album Poster: <input type="file" name="img1" placeholder="Album Poster" /> <br><br>
       Album Company: <input type="text" name="company" placeholder="Company" /> <br><br> -->
        <input type="submit" value="Add">
    </form>
</center>
{% endblock %}