{% extends "movie/base.html" %}
{% load static %}
{% block body %}

<center>
    <h1 style="padding-top: 10%">Add category</h1><br><br>
    <form style="width:20%" method="post" action="">
        {% csrf_token %}
        {%  if error %}<h5 style="color: red" >This category already exists</h5>{% endif %}<br>
       Category: <input type="text" class="form-control" name="cat" placeholder="category name" /> <br><br>
        <input type="submit" value="Add">
    </form>
    <br>
</center>
{% endblock %}